html {
    font-size: 1rem;
}
  
@include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
}
  
@include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
  }
}
  
@include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
  }
}


/*___BODY__*/
body {
	font-family: Montserrat !important;
    background-color: #E6E6E6 !important;
    color: #000000;

}

.box {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;	
}

/*__NAVBAR__*/
.navbar {
    letter-spacing: 0.03em;
    background-color: #E6E6E6 !important;
}

.nav-link {
	color: #1a1a1a;
    text-align: right;
    margin: auto 10px;
}

.nav-link:hover {
  font-weight: 600;
}

.button-about {
    background-color: #FF4D2F;
    border-radius: 10px;
    padding: 1px 4px;
}

#text-about {
	color: #E6E6E6 !important;
}

/*__DESCRIPTION__*/

#img-me {
  width: 50%;
}

#name {
	color: #FF4D2F !important;
    letter-spacing: 0.05em;
}

/*___STUDIES___*/
.logo {
  width: 0.7in;
  height: 0.7in;
}

.uba {
  width: 0.8in;
  height: 0.8in;
}

#cookies-logo {
	width: 10%;	
}

.center, .center:hover {
  	font-weight: 800;
  	font-size: 1.2em !important;
}

.study, .study:hover {
	font-size: 1.1em !important;
	font-weight: 700;
}

/*__HENRY__*/
#whyHenry {
	color: #FF4D2F !important;
}

/*___FOOTER___*/
.contact {
  width: 5rem;  
}

#emoji-heart {
  width: 2.2%;
  height: 2.2%;
}

.by-footer, #name-footer {
  font-size: 0.9em;
}

#name-footer {
  color: #FF4D2F;
  font-weight: 500;

}

/*____TYPOGRAPGHY____*/

h2 {
    text-shadow: 0.07rem 0.07rem 0rem #B0B0B4;
    font-weight: 700 !important;
    letter-spacing: 0.02em;
}

h3, h4 {
    color: #1a1a1a !important;
}

h5 {
	font-size: 1em !important;
}

a, a:hover {
    text-decoration: none;    
    color: #000000 !important;
}

hr {
  border-top: 0.1em solid  #999999;  
}

.text-center {
    text-align: center!important;
}